
// ### Primary

$primary: hsl(300, 43%, 22%);
$Pink: hsl(333, 80%, 67%);

// ### Neutral

$grayishMagenta: hsl(303, 10%, 53%);
$light-GrayishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// ## Typography

$font-size: 0.9375rem;
$fontFamily:'League Spartan', sans-serif;